@font-face{
    font-family: "Hack";
    src: url("fonts/Hack-Regular.ttf");
}

@font-face{
    font-family: "Powerline";
    src: url("fonts/PowerlineSymbols.otf");
}

@font-face {
    font-family: "FontAwesome";
    src: url("fonts/fontawesome-webfont.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.column {
    vertical-align: top;
    background-color: #888888;
    display: table-cell;
}

.column.middle {
    border: 5px solid #888888;
    width: 960px;
}

.column.left {
    padding: 5px;
    border-right: 5px solid #444444;
}

.column.right {
    padding: 5px;
    border-left: 5px solid #444444;
}

.preview {
    font-size: 0px;
}

#preview-wm {
    position: relative;
    width: 960px;
    height: 540px;
}

.preview > div {
    display: inline-block;
    font-family: Hack, Powerline, FontAwesome;
    font-size: 16px;
}

.preview.left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.preview.right {
    position: absolute;
    bottom: 0;
    right: 0;
}

#preview-term {
    width: 10%;
    padding: 10px;
}

.termbg {
    background-color: var(--t-background);
}

#canvas-placeholder {
    background-color: #aaaaaa;
    width: 100%;
    height: 100%;
    position: relative;
}

#canvas-placeholder-text {
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    font-family: "Noto Sans", sans-serif;
    cursor: pointer;
    color: #eeeeee;
}

.button:hover {
    font-weight: 500;
    color: #ffffff;
}

#cs {
    display: none;
    cursor: crosshair;
}

#img-upload {
    display: none;
}

.spacer {
    height: 20px;
}

#output-methods > div, a {
    display: inline-block;
}

#output {
    display: none;
}

body {
    display: table;
    height: 100%;
    width: 100%;
    margin:0;
    table-layout: fixed;
    background-color: #252525;

    --l1-fg:#005f5f;
    --l1-bg:#ffffff;

    --l1a-fg:#ffffff;
    --l1a-bg:#87af00;

    --l1v-fg:#ffd787;
    --l1v-bg:#ff8700;

    --l1r-fg:#ffffff;
    --l1r-bg:#5f0000;

    --l2-fg:#ffffff;
    --l2-bg:#00af87;

    --l2a-fg:#ffffff;
    --l2a-bg:#00af87;

    --l3-fg:#ffffff;
    --l3-bg:#00875f;

    --l3a-fg:#ffffff;
    --l3a-bg:#00875f;

    --l4-fg:#ffffff;
    --l4-bg:#005f5f;

    --l4a-fg:#ffffff;
    --l4a-bg:#005f5f;

    /* for line ends */
    --lnone-fg: transparent;
    --lnone-bg: transparent;

    --t-black:#1C1C1C;
    --t-altblack:#404040;

    --t-red:#B85335;
    --t-altred:#CF6A4C;

    --t-green:#87AF5F;
    --t-altgreen:#99AD6A;

    --t-yellow:#FFAF5F;
    --t-altyellow:#FAD07A;

    --t-blue:#667899;
    --t-altblue:#8197BF;

    --t-magenta:#8787AF;
    --t-altmagenta:#C6B6EE;

    --t-cyan:#668799;
    --t-altcyan:#8FBFDC;

    --t-white:#888888;
    --t-altwhite:#FFFFFF;
    --t-background:#0e0e0e;
    --t-foreground:#ffffff;
}
