@font-face{
    font-family: "Hack";
    src: url("fonts/Hack-Regular.ttf");
}

@font-face{
    font-family: "Powerline";
    src: url("fonts/PowerlineSymbols.otf");
}

.preview {
    font-size: 0px;
}

.preview > div {
    display: inline-block;
    font-family: Hack, Powerline;
    font-size: 16px;
}

body {
    --l1-fg:#000000;
    --l1-bg:#ffffff;

    --l1a-fg:#000000;
    --l1a-bg:#ffffff;

    --l1v-fg:#000000;
    --l1v-bg:#ffffff;

    --l1r-fg:#000000;
    --l1r-bg:#ffffff;

    --l2-fg:#ffffff;
    --l2-bg:#000000;

    --l2a-fg:#ffffff;
    --l2a-bg:#000000;

    --l3-fg:#888888;
    --l3-bg:#000000;

    --l3a-fg:#888888;
    --l3a-bg:#000000;

    --l4-fg:#888888;
    --l4-bg:#000000;

    --l4a-fg:#888888;
    --l4a-bg:#000000;
}
